*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
body{
    
}
.menu{
    position: relative;
    width: 480px;
    height: 420px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    top: 200px;
    left: 550px;
}